<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scrape</title>
    <style media="screen">
      #container {
        text-align: center;
        color: #8a8d8e;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <img src=<%= json.image %> alt="">
      <h1><%= json.title %></h1>
      <h1>Ratings: <%= json.rating %>
    </div>
  </body>
</html>
